User.find_or_create_by(email: 'admin@sinfin.cz') do |user|
  user.password = ENV['SEED_ADMIN_PASSWORD']
  user.password_confirmation = ENV['SEED_ADMIN_PASSWORD']
  user.save!
end

Node.destroy_all

models = %w(pages)

paths = models.map { |name| Rails.root.join("db/seeds/yml/#{name}.yml") }
YamlFixtureLoader.new.load! paths
