default: &default
  secret_key_base: <%= fetch_env_erb "#{app_name.underscore.upcase}_SECRET_KEY_BASE" %>
  dragonfly_secret: <%= fetch_env_erb "#{app_name.underscore.upcase}_DRAGONFLY_SECRET" %>

development:
  <<: *default

test:
  <<: *default

staging:
  <<: *default

production:
  <<: *default
