//////////////////////
// prefix
$prefix: '<%= app_name[0] %>-'
// nprogress-rails
$nprogress-color: #29d !default
//////////////////////
@import 'custom_bootstrap'
@import 'sprites'
@import 'fonts'
@import 'nprogress'
@import 'nprogress-bootstrap'
@import 'mreq-mixins/mreq'
//////////////////////

//////////////////////
// modules

@import 'modules/sticky_footer'
@import 'modules/lead_form'

//////////////////////
// pages

@import 'pages/home'

