javascript:
  window.cookieconsent_options = {
    message: "#{ I18n.t('cookie_consent.message') }",
    dismiss: "#{ I18n.t('cookie_consent.dismiss') }",
    learnMore: "#{ I18n.t('cookie_consent.learn_more') }",
    theme: "dark-bottom"
  };

script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"